/* CSS Document */
.banner{
	background-color: rgb(128, 128, 128);
	font-size: 50px;
	font-weight: bold;
	padding: 25px;
	margin: 5px;
	text-align: center;
	border-style: solid;
}

.info_section {
	background-color: rgb(255, 209, 111);
	border-radius: 10px;
	border-style: double;
	margin-bottom: 20px;
}

.nav_main {
	width: 100%;
	text-align: center;
	display: inline-block;
	margin-block-end: 10px;
}

.nav_item {
	font-weight: bold;
	padding: 7px;
	margin: 5px;
	float: left;
	width: 18%;
	border-style: solid;
}

.nav_active {
	font-weight: bold;
	padding: 7px;
	margin: 5px;
	float: left;
	width: 18%;
	border-style: solid;
	background-color: rgb(112, 112, 112);
}

.clear_float {
	float: none;
}

html {
    width: 100%;
}
