/* CSS Document */
.banner{
	background-color: rgb(112, 112, 112);
	font-size: 50px;
	font-weight: bold;
	padding: 25px;
	margin: 5px;
	text-align: center;
	border-style: dashed;
}

.info_section {
	background-color: rgb(255, 209, 111);
	border-radius: 10px;
	border-style: double;
}

.nav_main {
	width: 100%;
	border-radius: 10px;
	overflow: auto;
}

.nav_item {
	font-weight: bold;
	padding: 7px;
	margin: 5px;
	text-align: center;
	float: left;
	width: 18%;
	border-style: solid;
}

.nav_active {
	font-weight: bold;
	padding: 7px;
	margin: 5px;
	text-align: center;
	float: left;
	width: 18%;
	border-style: solid;
	background-color: rgb(112, 112, 112);
}

.clear_float {
	clear: left;
}
